flashcards<br>
<h2><%= @round.deck.name  %></h2>
<br>
<% if @message %>
  <%= @message  %>
<% end %>
<br>
<%= @next_card.question %>

<form action="/rounds/<%=@round.id%>/cards/<%=@next_card.id%>" method="post">
  <label>Enter your guess:</label><br>
  <input type="text" name="attempt">
  <input type="submit" value="Submit your guess">
</form>
