Flashcards
<%= @round.deck.name  %>

<% if @message %>
  <%= @message  %>
<% end %>

<%= @next_card.question %>

<form action="/rounds/<%=@round.id%>/cards/<%=@next_card.id%>" method="post">
  <label>Enter your guess:</label><br>
  <input type="text" name="attempt">
  <input type="submit" value="Submit your guess">
</form>
