<br><br><br><br><br><br><br><br>
<h2><%= @round.deck.name  %></h2>

<% if @message %>
  <%= @message  %>
<% end %>
<h4><%= @next_card.question %><h4>

<form action="/rounds/<%=@round.id%>/cards/<%=@next_card.id%>" method="post">
  <br>
  <input type="text" name="attempt">
  <input class="btn btn-primary"type="submit"  value="Submit your guess">
</form>
