<% if current_user == @user %>
<h1>HEREERERERERER</h1>
<h1 class="jumbotron">QUESARITO BURRITO GUACAMOLE BURGER FLASH CARD EXTRAVAGANZA JAMBOREE</h1>

<h2>Decks:</h2>
<% @decks.each do |deck| %>
<a href="/decks/<%= deck.id %>"><%= deck.name %></a>
<% end %>
<br><br>
<% if @user.rounds %>
  <% @user.rounds.each do |round| %>
  You completed a round of <%=round.deck.name  %> on <%=round.created_at.to_date  %>. You answered
<%= round.guesses.where(body: nil).length %> / <%=round.cards.length  %>
  of cards right on the first guess.
  Your total number of guesses: <%=round.total_guesses  %>
  <br><br>
  <% end %>
<% end %>


<% else %>
You do not have access to see this profile. Noburritoforyou
<% end %>
